
.btn_top {
   
   margin-left: auto;
   //margin-right: auto;
   width: 40px;
   height: 40px;
   position: fixed;
   bottom: 40px;
   right: 20px;
   z-index: 10;
   border: none;
   outline: none;
   color: #f16609;
   background-color: rgba(221, 221, 221, 0.532);
   cursor: pointer;
   border-radius: 50%; 
   display: flex;
   justify-content: center;
   align-items: center;
   @media screen and (min-width: 768px){
   width: 50px;
   height: 50px;
   bottom: 80px;
   right: 1px;
   }
   @media screen and (min-width: 1280px) {
   width: 60px;
   height: 60px;
   bottom: 100px;
   right: 40px;
   }
      
   
}



.btn_top_icon {
   
   width: 20px;
   height: 20px;
   @media screen and (min-width:768px) {
      width: 30px;
      height: 30px;
   }
   @media screen and (min-width:1200) {
      width: 40px;
      height: 40px;
   }
}