.card-container {
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and(min-width: 768px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}



.card-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and(min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and(min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.film__item {
  @media screen and(max-width:767px) {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.02);
  }
}

.empty__page {
  width: 290px;
  height: 193px;
  margin-bottom: 10px;

  background-image: url('../images/library/empty-mob.jpg');
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/library/empty-mob-2x.jpg');
  }
  @media screen and (min-width: 768px) {
    width: 480px;
    height: 320px;
    margin-bottom: 20px;
    background-image: url('../images/library/empty-tablet.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/library/empty-tablet-2x.jpg');
    }
  }
  @media screen and (min-width: 1280px) {
    width: 768px;
    height: 512px;
    background-image: url('../images/library/empty-desktop.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/library/empty-desktop-2x.jpg');
    }
  }

  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;

  &.is-hidden {
    display: none;
  }
}

.empty__page-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  color: #ff6b01;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 32px;
    line-height: 1.19;
  }

  &.is-hidden {
    display: none;
  }
}
