body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow-y: overlay;
}

.card-container {
  flex-grow: 1;
}

//=========card===========
.film__item {
  position: relative;
  max-width: 280px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    max-width: 336px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 395px;
  }

  &__link {
    width: 280px;
    height: 402px;
    background-image: url('../images/card/default-poster-mobile.jpg');
    @include retina {
      background-image: url('../images/card/default-poster-mobile-2x.jpg');
    }
    @include tablet {
      width: 336px;
      height: 455px;
      background-image: url('../images/card/default-poster-tablet.jpg');
      @include retina {
        background-image: url('../images/card/default-poster-tablet-2x.jpg');
      }
    }
    @include desktop {
      width: 395px;
      height: 574px;
      background-image: url('../images/card/default-poster-desktop.jpg');
      @include retina {
        background-image: url('../images/card/default-poster-desktop-2x.jpg');
      }
    }
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__link {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    width: 280px;
    height: 442px;
    border-radius: 5px;
    margin-bottom: 10px;
    @include tablet {
      margin-bottom: 8px;
      width: 336px;
      height: 495px;
    }
    @include desktop {
      margin-bottom: 12px;
      width: 395px;
      height: 634px;
    }
  }

  & img {
    width: 280px;
    height: 402px;
    border-radius: 5px;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 8px;
      width: 336px;
      height: 455px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 12px;
      width: 395px;
      height: 574px;
    }
  }

  & h2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #000000;

    @media screen and (min-width: 768px) {
      line-height: 1.33;
    }

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  & p {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #ff6b08;

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  & button {
    position: absolute;
    top: 0;
    right: 0;

    transition: background-color 300ms linear;

    width: 40%;
    height: 30px;
    border: none;
    color: #ffffff;
    background-color: rgb(107, 0, 0);
    border-radius: 5px;
    cursor: pointer;

    &:hover,
    &:focus,
    &:hover span,
    &:focus span {
      background-color: rgb(160, 0, 0);
    }

    & span {
      width: 10px;
      position: absolute;
      top: 3px;
      right: 18px;
      transition: background-color 300ms linear;

      @include tablet {
        right: 28px;
      }

      @include desktop {
        right: 41px;
      }

      font-size: 1.2em;
      background-color: rgb(107, 0, 0);
    }
  }
}

.film__item__prytula{
  position: relative;
  max-width: 280px;
   transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.02);
  }
  @media screen and (min-width: 768px) {
display: none;
  }

  @media screen and (min-width: 1280px) {
    max-width: 395px;
    display: block;
  }

  &__link {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    width: 280px;
    height: 442px;
  border-radius: 5px;
    margin-bottom: 10px;

    background-image: url('../images/card/prytula-mob.png');
    @include retina {
      background-image: url('../images/card/prytula-mob-x2.png');
    }

   
    @include desktop {
      width: 395px;
      height: 634px;
      background-image: url('../images/card/prytula-desktop.png');
      @include retina {
        background-image: url('../images/card/prytula-desktop-x2.png');
      }
    }
    background-repeat: no-repeat;
    background-size: contain;
  }



  & h2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      line-height: 1.33;
    }

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  & p {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #ff6b08;

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}

.film__item__prytula__tab{
  margin-top: 15px;
   position: relative;
  text-align: center;
   transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
  &:hover {
    transform: scale(1.02);
  }
  @media screen and (min-width: 768px) {
display: block;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }

  &__link {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
  border-radius: 5px;
    margin-bottom: 10px;
width: 704px;
height: 215px;
    background-image: url('../images/card/prytula-tab.png');

    background-repeat: no-repeat;
    background-size: cover;
  }



  & h2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      line-height: 1.33;
    }

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  & p {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #ff6b08;

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}


.card-holder__banner__ru{
   width: 290px;
  height: 193px;
  margin-bottom: 10px;

  background-image: url('../images/card/korabl-mob.jpg');
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../images/card/korabl-mob-x2.jpg');
  }
  @media screen and (min-width: 768px) {
    width: 480px;
    height: 320px;
    margin-bottom: 20px;
    background-image: url('../images/card/korabl-tab.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/card/korabl-tab-x2.jpg');
    }
  }
  @media screen and (min-width: 1280px) {
    width: 768px;
    height: 512px;
    background-image: url('../images/card/korabl-desktop.jpg');
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/card/korabl-desktop-x2.jpg');
    }
  }

  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.card-holder__banner__ru__title{
  text-align: center;
   font-weight: 500;
    font-size: 20px;
    line-height: 1.33;
    color: #ff6b08;

    @media screen and (min-width: 1280px) {
      font-size: 40px;
      line-height: 1.2;
    }
}

//=========footer=========
.footer {
  background-color: #f7f7f7;

  & .container {
    padding: 30px 0;
    text-align: center;

    @media screen and (min-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.19;
    }

    color: #545454;
  }

  & p:first-child {
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  & p:last-child {
    display: inline-flex;
    align-items: center;

    @media screen and (min-width: 768px) {
      margin-left: 5px;
      display: flex;
    }
  }
}

.footer__icon {
  margin: 0 5px;
}

.footer__link {
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
}
