.is-hidden {
  display: none;
}

.js-movie-modal-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.3;
}

.js-movie-modal {
    // overflow: hidden;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    color: #000;
    transform: translate(-50%, -50%);
    width: 280px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 38px;
  
    @include tablet {
      width: 704px;
      height: 552px;
      // overflow-y: hidden;
    }
  
    @include desktop {
      width: 806px;
      height: 558px;
    }
}

.js-movie-modal__content {
  padding: 48px 20px 40px 20px;

  @include mobile {
    display: flex;
    flex-direction: column;
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 72px 40px 36px;
    width: 704px;
    height: 552px;
  }

  @include desktop {
    display: flex;
    padding: 40px 12px;
    width: 806px;
    height: 558px;
  }
}

.js-movie-modal__img {
  max-height: 100%;
  margin: 0px auto;
  border-radius: 5px;
}

.movie-modal__info-about {
  max-width: 391px;
}

.js-movie-modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: none;
  background: #ffffff;

  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ff6b08;
    stroke: #ffffff;
  }
}

.js-movie-modal__poster {
  width: 240px;
  height: 357px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;

  @include tablet {
    width: 264px;
    height: 374px;
  }

  @include desktop {
    height: 478px;
    width: 375px;
  }
}

.js-movie-modal__title {
  color: #000000;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;

  @include tablet {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  @include desktop {
    font-size: 30px;
    line-height: 35px;
  }
}

.movie-modal__info {
  display: flex;
  margin-bottom: 20px;
}

.movie-modal__info-name {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  
}

.info-name {
  font-size: 12px;
  line-height: 16px;
  flex-direction: column;
  color: #8c8c8c;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.js-info-value {
  color: #000000;
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 8px;
  margin-left: 39px;
  display: flex;

  &:last-child {
    margin-bottom: 0px;
  }
}

.js-info-value__vote {
  color: #fff;
  background-color: #ff6b01;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.movie-modal__about {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.js-movie-modal__about-text {
  max-height: 210px;
  width: 240px;
  overflow: auto;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;

  @include tablet {
    width: 264px;
  }

  @include desktop {
    padding-right: 12px;
    width: 391px;
  }
}

.movie-modal__btn-list {
  display: flex;
  flex-wrap: nowrap;
}

.js-movie-modal__btn {
  text-align: center;
  width: 110px;
  height: 44px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    width: 125px;
  }

  @include desktop {
    width: 136px;
  }

  &:hover,
  &:focus {
    color: #fff;
    box-shadow: none;
    cursor: auto;
    background-color: #ff6b08;
    border: 1px solid #ff6b08;
  }
}

