.pagination__container {
  display: flex;
  justify-content: center;

  & button {
    position: relative;
    width: 36px;
    height: 36px;

    transition: background-color 300ms linear, color 300ms linear;

    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;

    font-size: 30px;

    &:hover,
    &:focus {
      color: white;
      background-color: #c70014;
      cursor: pointer;
    }

    & span {
      position: absolute;
      top: -5px;
      left: 4px;
      @include tablet {
        left: 6px;
        top: -2px;
      }
    }

    @include tablet {
      width: 40px;
      height: 40px;
    }
  }
}

.pagination__list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 5px;
  min-width: 200px;

  & li:nth-child(-n + 2) {
    display: none;
  }
  & li:nth-last-child(-n + 2) {
    display: none;
  }

  @include tablet {
    min-width: 294px;

    & li:nth-child(-n + 2) {
      display: flex;
    }
    & li:nth-last-child(-n + 2) {
      display: flex;
    }
  }
}

.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 5px;

  transition: background-color 300ms linear, color 300ms linear;

  width: 36px;
  height: 36px;

  border-radius: 5px;
  cursor: pointer;

  &:nth-child(7) {
    margin: 0;
  }

  @include tablet {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.pagination__item--current {
  color: #ffffff;
  background-color: #ff6b08;
}

.pagination__on:hover,
.pagination__on:focus {
  color: white;
  background-color: #ff6b08;
  cursor: pointer;
}
