.dark {
  background-color: #3b4145;
  // .film__item {
  //   box-shadow: 10px 0px 8px 3px rgba(163, 162, 162, 0.75);
  //   filter: brightness(0.8) contrast(1.2);
  // }
  .footer {
    background-color: #000000;
  }

  .js-movie-modal {
    background-color: #3b4145;
    color: #fff;
  }
  .pagination__item--current {
    background-color: #ffffff;
    color: #000000;
  }
  .pagination__container button {
    background-color: #ffff;
  }
  .js-info-value {
    color: #fff;
  }
  .js-movie-modal__about-text {
    color: #fff;
  }
  .js-movie-modal__btn {
    border: #fff;
  }
  .js-movie-modal__title {
    color: #fff;
  }
  .film__item h2 {
    color: #fff;
  }
.film__item__prytula h2 {
    color: #fff;
  }
  .footer__container {
    color: #fff;
  }

  .footer__link {
    color: #fff;
  }
}
.icon__container {
  position: relative;
  top: 40px;

  @media screen and (min-width: 320px) {
    right: 140px;
  }
  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1280px;
  }
}
.material-icons {
  // display: flex;

  background: #2a2c2d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: #ccc;

  // @include tablet {
  //   top: 110px;
  //   right: 255px;
  // }

  &:hover,
  &:focus {
    color: #ff6b01;
  }
}
span[title] {
  cursor: help;
}
span[title]:hover::after {
  position: absolute;

  top: 24px;

  border: 1px #c50303 solid;
  border-radius: 10px;

  font-size: 20px;
}
