<header class="home-header">
    <div class="home-header__container">
    <a href="./index.html">
        <svg class="home-header__icon" width="24" height="24">
            <use href ="./images/hero-home/home-header-icons.svg#icon-logo"></use>
        </svg>
</a>
<a class="home-header__logo" href="./index.html">Filmoteka</a>
<ul class="home-header__links__list">
    <li class="home-header__links__item --current"><a class="home-header__links__link" href="./index.html">Home</a></li>
    <li class="home-header__links__item"><a class="home-header__links__link" href="./my-library.html">My library</a></li>
</ul>
</div>
<div class="container">
<form class="home-header__form">
    <input class="home-header__input" type="text" placeholder="Movie search">
    <button class="home-header__input__button" type="submit">     	
 <svg width="12" height="12">
            <use href ="./images/hero-home/home-header-icons.svg#icon-search"></use>
        </svg>
</button>
</form>
</div>
 </header>