<header class="my-library-header">
  <div>
    <a href="#" class="themetoggle">
      <span class="material-icons">dark_mode</span></a
    >
  </div>
  <div class="my-library-header__container">
    <a class="my-library-header__logo" href="./index.html">
      <svg class="my-library-header__icon" width="24" height="24">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
      <p class="my-library-header__name">Filmoteka</p>
    </a>

    <ul class="my-library-header__links__list">
      <li class="my-library-header__links__item">
        <a class="my-library-header__links__link" href="./index.html">Home</a>
      </li>
      <li class="my-library-header__links__item --current">
        <a class="my-library-header__links__link" href="./my-library.html"
          >My library</a
        >
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="my-library-header__buttons">
      <ul class="my-library-header__buttons-list">
        <li class="my-library-header__buttons-item">
          <button class="my-library-header__button js-watched --current">
            Watched
          </button>
        </li>
        <li class="my-library-header__buttons-item">
          <button class="my-library-header__button js-queue">Queue</button>
        </li>
      </ul>
    </div>
  </div>
</header>

<header class="js-my-library-header__sticky">
  <div class="my-library-header__container__sticky">
    <a class="my-library-header__logo" href="./index.html">
      <svg class="my-library-header__icon" width="24" height="24">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
      <p class="my-library-header__name" href="./index.html">Filmoteka</p>
    </a>
    <ul class="my-library-header__links__list">
      <li class="my-library-header__links__item__sticky">
        <a class="my-library-header__links__link" href="./index.html">Home</a>
      </li>
      <li class="my-library-header__links__item__sticky --current">
        <a class="my-library-header__links__link" href="./my-library.html"
          >My library</a
        >
      </li>
    </ul>
  </div>
</header>
