<!-- <div class="team-modal-mask is-hidden" data-team-modal> замінено бекдроп-->
<div class="team-modal is-hidden" data-team-modal>
  <button class="team-modal__btn" data-team-modal-close>
    <svg
      width="30"
      height="30"
      viewBox="0 0 30 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M8 8L22 22" stroke="black" stroke-width="2" />
      <path d="M8 22L22 8" stroke="black" stroke-width="2" />
    </svg>
  </button>
  <div class="team-modal__markup">
    <h2 class="team-modal__title">Our team</h2>
    <div class="people">
      <div class="people__card people__card1">
        <div class="name">
          <h3 class="name__team">ihor</h3>
          <p class="name__role">Team lead</p>
          <div class="github">
            <a
              class="github__link"
              href="https://github.com/ihorchub"
              target="_blank"
            >
              <svg class="github__icon-gitHub" width="50" height="50">
                <use href="./images/team/logogit.svg#icon-gitHub"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="people__card people__card2">
        <div class="name">
          <h3 class="name__team">natasha</h3>
          <p class="name__role">Scrum Master</p>
          <div class="github">
            <a
              class="github__link"
              href="https://github.com/Natalia970970"
              target="_blank"
            >
              <svg class="github__icon-gitHub" width="50" height="50">
                <use href="./images/team/logogit.svg#icon-gitHub"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="people__card people__card3">
        <div class="name">
          <h3 class="name__team">egor</h3>
          <p class="name__role">Scrum Master</p>
          <div class="github">
            <a
              class="github__link"
              href="https://github.com/pos1t1v41k"
              target="_blank"
            >
              <svg class="github__icon-gitHub" width="50" height="50">
                <use href="./images/team/logogit.svg#icon-gitHub"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="people__card people__card4">
        <div class="name">
          <h3 class="name__team">roman</h3>
          <p class="name__role">Frontend developer</p>
          <div class="github">
            <a
              class="github__link"
              href="https://github.com/roma-cwby"
              target="_blank"
            >
              <svg class="github__icon-gitHub" width="50" height="50">
                <use href="./images/team/logogit.svg#icon-gitHub"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="people__card people__card5">
        <div class="name">
          <h3 class="name__team">serge</h3>
          <p class="name__role">Frontend developer</p>
          <div class="github">
            <a
              class="github__link"
              href="https://github.com/Serge-Moskalenko"
              target="_blank"
            >
              <svg class="github__icon-gitHub" width="50" height="50">
                <use href="./images/team/logogit.svg#icon-gitHub"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="people__card people__card6">
        <div class="name">
          <h3 class="name__team">andrew</h3>
          <p class="name__role">Frontend developer</p>
          <div class="github">
            <a
              class="github__link"
              href="https://github.com/notoriousronin"
              target="_blank"
            >
              <svg class="github__icon-gitHub" width="50" height="50">
                <use href="./images/team/logogit.svg#icon-gitHub"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="people__card people__card7">
        <div class="name">
          <h3 class="name__team">alex</h3>
          <p class="name__role">Frontend developer</p>
          <div class="github">
            <a
              class="github__link"
              href="https://github.com/AlexLupeka"
              target="_blank"
            >
              <svg class="github__icon-gitHub" width="50" height="50">
                <use href="./images/team/logogit.svg#icon-gitHub"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="people__card people__card8">
        <div class="name">
          <h3 class="name__team">ihor</h3>
          <p class="name__role">Frontend developer</p>
          <div class="github">
            <a
              class="github__link"
              href="https://github.com/ihorsaievych"
              target="_blank"
            >
              <svg class="github__icon-gitHub" width="50" height="50">
                <use href="./images/team/logogit.svg#icon-gitHub"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="people__card people__card9">
        <div class="name">
          <h3 class="name__team">oleksanr</h3>
          <p class="name__role">Frontend developer</p>
          <div class="github">
            <a
              class="github__link"
              href="https://github.com/oleksandr-vasylenko"
              target="_blank"
            >
              <svg class="github__icon-gitHub" width="50" height="50">
                <use href="./images/team/logogit.svg#icon-gitHub"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="people__card people__card10">
        <div class="name">
          <h3 class="name__team">sergiy</h3>
          <p class="name__role">Frontend developer</p>
          <div class="github">
            <a
              class="github__link"
              href="https://github.com/Ser9999"
              target="_blank"
            >
              <svg class="github__icon-gitHub" width="50" height="50">
                <use href="./images/team/logogit.svg#icon-gitHub"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="people__card people__card11">
        <div class="name">
          <h3 class="name__team">anna</h3>
          <p class="name__role">Frontend Developer</p>
          <div class="github">
            <a
              class="github__link"
              href="https://github.com/AnnaYeremenko"
              target="_blank"
            >
              <svg class="github__icon-gitHub" width="50" height="50">
                <use href="./images/team/logogit.svg#icon-gitHub"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="people__card people__card12">
        <div class="name">
          <h3 class="name__team">jurek</h3>
          <p class="name__role">Frontend developer</p>
          <div class="github">
            <a
              class="github__link"
              href="https://github.com/Urichcool"
              target="_blank"
            >
              <svg class="github__icon-gitHub" width="50" height="50">
                <use href="./images/team/logogit.svg#icon-gitHub"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
